@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<br />

<!-- Page Content -->
<div class="container">

    <h1 class="my-4 text-center text-lg-left">Get In Touch</h1>

    <h3 class="clearfix" style="color: forestgreen">@Model.Message</h3>

    <p>
        Please use the below form to send us a message. We always aim to respond to your queries within
        24 hours, although during busy periods this is not always possible so please bare with us.
    </p>

    <form id="contact-form" method="post">

        <div class="row">
            <div class="col-md-6">
                <div class="g-recaptcha" data-sitekey="6LfOBQoTAAAAALPDUzrIN-sc0KLnrV3c2ZJ8Lukl"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="FullName">Name *</label>
                    <input id="FullName" type="text" value="@Model.FullName" name="FullName" class="form-control" placeholder="Please enter your name *" required="required" data-error="Name is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Email">Email *</label>
                    <input id="Email" type="text" value="@Model.Email" name="Email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Phone">Phone</label>
                    <input id="Phone" type="text" value="@Model.Phone" name="Phone" class="form-control" placeholder="Please enter your phone number">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label for="UserMessage">Message *</label>
                    <textarea id="UserMessage" name="UserMessage" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please, leave us a message.">@Model.UserMessage</textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="col-md-12">
                <button type="submit">Send Message</button>
            </div>
        </div>

    </form>

</div>

<br />
